  body {
      font-family: 'Poppins', sans-serif;
      background-color: #f7fafc;
    }
    .section-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
    }
    .hover-transform:hover {
      transform: scale(1.03);
      transition: transform 0.3s ease-in-out;
    }
    .scroll-smooth {
      scroll-behavior: smooth;
    }
    .divider {
      background: linear-gradient(90deg, #6c63ff, #ff7c7c);
      height: 3px;
      margin: 50px 0;
    }
    .cta-button {
        box-shadow: 0 8px 20px rgba(99, 102, 241, 0.35);
        transition: all 0.3s ease;
      background-color: #7F56D9;
      color: white;
      padding: 12px 30px;
      border-radius: 50px;
      font-size: 1rem;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .cta-button:hover {
      background-color: #6a4ecc;
      transform: translateY(-2px);
    }
    .hero-text {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }
    /* Hero Section with Diagonal Split */
    .hero-section {
        background: linear-gradient(135deg, #4f46e5, #9333ea);
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: space-between;
      background: url('https://yourblogworks.com/wp-content/uploads/2016/07/MAIN-riccardo-annandale-7e2pe9wjL9M-unsplash-1-1080x675.jpg') center center / cover;
      
    }
  
    .hero-content {
      position: relative;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.45);
      color: #ffffff;
      padding: 50px;
      border-radius: 20px;
      backdrop-filter: blur(6px);
      flex-basis: 40%;
    }
    .hero-right {
      position: relative;
      z-index: 10;
      background-color: #ffffff;
      flex-basis: 50%;
      padding: 50px;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero-right h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .hero-right p {
      font-size: 1.2rem;
      color: #4b5563;
      margin-bottom: 20px;
    }
  footer{
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: #420d0d;
    padding: 24px o;
    font-size: 0.95rem;
  }